nav.navbar.navbar-default(role='navigation')
      //
        El logotipo y el icono que despliega el menú se agrupan
        para mostrarlos mejor en los dispositivos móviles
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
          span.sr-only Desplegar navegación
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') ÓRGANO INTERNO DE CONTROL
          //img(src='http://www.pimags.gob.mx/assets/global/img/pim/ayuntamiento_logo.png', style='height: 35px;')
      //
        Agrupar los enlaces de navegación, los formularios y cualquier
        otro elemento que se pueda ocultar al minimizar la barra
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav
          li
            a(href='#') Enlace #1
          li
            a(href='#') Enlace #2
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Menú #1 
              b.caret
            ul.dropdown-menu
              li
                a(href='#') Acción #1
              li
                a(href='#') Acción #2
              li
                a(href='#') Acción #3
              li.divider
              li
                a(href='#') Acción #4
              li.divider
              li
                a(href='#') Acción #5        
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#') Enlace #3
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Menú #2 
              b.caret
            ul.dropdown-menu
              li
                a(href='#') Acción #1
              li
                a(href='#') Acción #2
              li
                a(href='#') Acción #3
              li.divider
              li
                a(href='#') Acción #4